@font-face {
    font-family: 'wp-administration-style-icons';
    src: url('fonts/wp-administration-style-icons.woff2?4nbddh') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
